<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652878770610-drogjatqv582sn7ciscohgqi41cs1fl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652878770610-drogjatqv582sn7ciscohgqi41cs1fl9</string>
	<key>API_KEY</key>
	<string>AIzaSyCx-2STkC-PDCRzZF1MLRTywkfrG4WBu6A</string>
	<key>GCM_SENDER_ID</key>
	<string>652878770610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joncron30.rnfirebaseauth</string>
	<key>PROJECT_ID</key>
	<string>rn-auth-practice-2bec3</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-auth-practice-2bec3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652878770610:ios:f056060ba8d8da4dab74ab</string>
</dict>
</plist>